$cinzento-escuro: #383838;

header {
    text-align: center;
    margin-right: 10px;
    margin-right: 10px;
    background-color: rgb(173, 240, 225);
    color: rgb(173, 240, 225);
    text-decoration: dotted;


    nav {
        position: relative;
        z-index: 1;
    }

    nav ul,
    nav li,
    nav a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgb(173, 240, 225);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        display: block;
        position: relative;
        background-color: rgb(173, 240, 225);
    }


    /* Top-level menu links */
    nav ul li a {
        display: block;
        padding: 1em;
        color: $cinzento-escuro;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease-out;
    }

    /* Change color on hover */
    nav ul li a:hover {
        color: $cinzento-escuro;
        background-color: rgb(143, 142, 142);
        content: "▸";
    }

    /* Sub-menu */
    nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(173, 240, 225);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        white-space: nowrap;
    }

    nav {
        ul li:hover>ul {
            display: inherit;
        }

        ul ul li {
            width: 100%;
        }

        ul ul li a {
            display: block;
            padding: 0.5em 1em;
            color: rgb(92, 91, 91);
            font-size: 1em;
            text-decoration: none;
        }

        ul ul ul {
            left: 100%;
            top: 0;
        }

        ul ul li a:hover {
            color: #28282B;
        }
    }
}


body {
    .pos-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        text-align: center;
        color: $cinzento-escuro;
    }

    .wrapper-1200 {
        max-width: 1200px;
        margin: auto;
        padding: 0 1.2rem;
    }

    .wrapper-alojamentos {
        display: flex;
        gap: 4%;
        margin-top: 5rem;
        margin-bottom: 5rem;

        .wrapper-alojamentos__item {
            //max-width: 100%;
            display: block;
            overflow: hidden;
            max-width: 48%;
            text-align: center;

            .button-airbnb {
                margin-top: 1.3rem;
            }

            .swiper-slide {
                img {
                    width: 100%;
                    aspect-ratio: 3/2;
                    object-fit: cover;
                }
            }
        }
    }

    .button {
        padding: 1rem 3rem;
        background-color: rgb(240, 240, 240);
        display: inline-block;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        transition: all ease-in-out 0.2s;

        &:hover {
            background-color: rgb(222, 222, 222);
            transition: all ease-in-out 0.2s;
        }
    }

    .button-airbnb {
        font-weight: 600;
        position: relative;
        padding: 1rem 2rem 1rem 3rem;

        &:after {
            content: "";
            background-image: url("./images/Airbnb-logo.png");
            background-size: cover;
            height: 1.4rem;
            width: 1.4rem;
            position: absolute;
            left: 14px;
            top: 28%;

        }
    }
}

footer {
    text-align: center;
    background-color: rgb(173, 240, 225);
    padding: 10px 10px;
    color: $cinzento-escuro;
}

@media only screen and (max-width: 600px) {

    body .wrapper-alojamentos {
        flex-wrap: wrap;
        .wrapper-alojamentos__item {
            width: 100%;
            max-width: 100%;
            margin-bottom: 3rem;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}